###############################################################################
# Ignore Extensions...
*.swp

###############################################################################
# Ignore Files...
.DS_Store

###############################################################################
# Ignore Directories...
.vscode

